body {
    margin: 0;
    background: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header {
    background: #002366;
    color: #f9faf8;
}

.title-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 100px;
    align-items: center;

}

.logo img {
    width: 175px;
    height: 75px;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0px 100px 0px 0px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}

/* info*/

.title-body {
    width: 1200px;
    margin: auto;
    display: flex;
    padding: 100px;
    justify-items: center;
    align-items: center;
}

.ttx{
    
}

.header-body { 
    padding-bottom: 10px;
    font-size: 48px;
    font-weight: bold;
}

.body-text {
    font-size: 18px;
}

button{
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: none;
    color: #eee;
    font-size: 16px;
    font-weight: bold;
}

.player img{
    transform: scale(0.75);
}

/*box tabs*/

.info {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    padding: 50px;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    gap: 72px;
    
}
.box{
    max-width: 200px;
}

.box-body img {
    width: 200px;
    height: 200px;
}

.text{
    font-weight: bold;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

/*quote*/

.info-tab {
    display: flex;
    background: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 150px;
    color: #1f2937;
    flex-direction: column;
    margin: auto;
}

p{
    width: 800px;
    font: 46px;
    font-style: italic;
}

.quote{
    font-weight: bolder;
    font: 36px;    
}

/*yeezy*/

.stem{
    display: flex;
    background: #F8F0E3;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    padding: 24px;
    gap: 16px;
    width: 800px;
    border-radius: 52px;
    box-shadow: 16px 4px 16px rgba(0,0,0,.2);
}

.purchase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.yeezy img{
    width: 200px;
    height: 150px;
}



/*footer*/

.footer {
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
    color: #eee;
  }