body {
    margin: 0;
    background: #eee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header {
    background: #1f2937;
    color: #f9faf8;
}

.title-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 100px;
    align-items: center;

}

.logo {
    font-size: 32px;
    font-weight: 900;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0px 100px 0px 0px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}

/* info*/

.title-body {
    display: flex;
    padding: 90px;
    text-align: start;
    flex-direction: column;
}

.header-body { 
    font-size: 24px;
    font-weight: bold;
    font-variant: ;


}

.body-text {
    font-size: 18px;
}

.button{
    color: #eee;
}

/*box tabs*/

.info {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    padding: 50px;
}

.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    
}
.box{
    border: solid black 5px;
    width: 80px;
    height: 80px;
    margin: 5px 20px 0px 20px;
}
.info-tab {
    display: flex;
    background: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 200px;
    color: #1f2937;
}

p{
    font: 46px;
    font-style: italic;
}

.quote{
    font-weight: bolder;
    font: 36px;
    
}